<div class="flex text-black" ...attributes {{on 'mousemove' this.mouseMoved}}>
  <button
    class="bg-white m-auto p-2 transition-opacity
      {{if this.showSettingsButton 'opacity-75' 'opacity-0'}}"
    {{on 'click' this.showSettings}}
  >
    Settings
  </button>
  {{#if this.showSettingsModal}}
    <div
      class="fixed top-0 left-0 right-0 bottom-0 bg-black opacity-50 z-10"
    ></div>
    <div
      id="settings-backdrop"
      class="fixed flex top-0 left-0 right-0 bottom-0 z-20"
      {{on 'mousedown' this.handleClose}}
    >
      <div
        class="bg-white p-2 w-96 m-auto flex h-96 overflow-auto"
        {{on 'mousedown' this.stopPropogation}}
      >
        <Ui::TabGroup
          @options={{this.tabOptions}}
          @selectedTab={{this.selectedTab}}
          @selectedTabUpdate={{fn (mut this.selectedTab)}}
        />
        <div class="ml-2 flex flex-col">
          {{#if @settings}}
            {{#if (eq this.selectedTab 'layout')}}
              <Settings::LayoutSettings
                @layout={{@settings.layout}}
                @onLayoutChange={{this.updateLayout}}
              />
            {{/if}}
            {{#if (eq this.selectedTab 'stocks')}}
              <Settings::StockSettings
                @stockWidget={{@settings.stockWidget}}
                @onUpdateStockWidget={{this.updateStockWidget}}
              />
            {{/if}}
          {{/if}}
          <div class="mt-auto px-4 py-3 sm:px-6">
            <button
              type="button"
              class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-500 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm"
              {{on 'click' this.handleConfirm}}
            >
              Confirm
            </button>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</div>